<div class="littleTitle">Showing results for "{{qString}}"</div>
<table class="resultTable">
  <thead>
    {{#each keySet}}
      <th>{{this}}</th>
    {{/each}}
  </thead>
  <tbody>
    {{#each restaurants}}
      <tr>
          <td><a href="/restaurant/{{this.id}}">{{this.id}}</a></td>
          <td><a href="/restaurant/{{this.id}}">{{this.name}}</a></td>
          <td><a href="/restaurant/{{this.id}}">{{this.address}}</a></td>
          <td><a href="/restaurant/{{this.id}}">{{this.category}}</a></td>
      </tr>
    {{/each}}
  </tbody>
</table>
